<script type="text/ng-template" id="cms.meal.detailPage">
    <daily-menu ng-repeat="menu in dailyMenus" daily-menu="menu" collector="menuCollectors[$index]">
    </daily-menu>
    <div class="alert alert-success" ng-show="message">
        <button class="close" data-dismiss="alert">×</button>
        <strong>{{message}}</strong>
    </div>
    <div class="form-actions">
        <input admin-save-button="saveState" type="submit" value="Uložit" class="btn btn-primary" ng-click="$parent.save()">
    </div>
</script>